.app-container {
	background-color: #e6e6e6;
	padding-top: 2.5em;
}

.button-panel {
	text-align: right;
    padding-right: 2em;
}

.detail-panel {
	background-color: #cccccc;
	margin: 1em 2em 2em 2em;
}